.special {
    background-color: #aa80c3;
    border: groove 30px rgb(198, 169, 249);
    color: rgb(90, 27, 82);
    font-weight: bold;
}


.results-code {
  display: inline-block;
  max-width: 40%;
  margin: 3px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #7e62a2;
  color: rgb(238, 236, 236);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    font-size: 18px;
    color:#2d0b42
}

#output-box {
    margin-top: 4.4%;
    color: #e9bce4;
}



body{
    background-color: #523a61;
  }
  
/*this is the css for the questions*/

        #results {
            background-color: #aa80c3;
            border: groove 25px rgb(198, 169, 249);
            color: rgb(90, 27, 82);
            font-weight: bold;
        }

        #subject {
            background-color: #aa80c3;
            border: groove 25px rgb(198, 169, 249);
            color: rgb(90, 27, 82);
            font-weight: bold;
        }

        #challenges {
            background-color: #aa80c3;
            border: groove 25px rgb(198, 169, 249);
            color: rgb(90, 27, 82);
            font-weight: bold;
        }

        .sorting-images {
            background-color: #aa80c3;
            border: groove 25px rgb(198, 169, 249);
            color: rgb(90, 27, 82);
            font-weight: bold;
            width: 96.75%;
        }


/* aligns everything in these sections to the center (using it to center the buttons mostly)*/

        #subject {
            text-align: center;
        }

        #challenges {
            text-align: center;
        }

        #results {
            text-align: center;
        }


/*css for the images in the html*/

        .image {
        display: block;
        margin: auto;
        width: 60%;
        }

        .images-group {
            padding: 10px;
            margin-bottom: 10px;
            background-color: #aa80c3;
            border: groove 25px rgb(198, 169, 249);
        }

        .zora-pic {
        max-width: 20%;
        margin-left: 72%;
        position: absolute;
        z-index: 10;
        margin-top: 137px;
        }




/*css  for the text elements of the page*/
        h1 {
            font-size: 35px;
            background-color: #aa80c3;
            margin-top: 10px;
            margin-bottom: 10px;
            border: groove 15px rgb(198, 169, 249);
            /*color: #000000;*/
        }
        
        h2 {
            font-size: 25px;
            color: black;
        }
        
        
        
        h1,h2,h3 {
            text-align: center;
        }
        
        p {
            text-align: center;
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        
        h3 {
            margin-top: 16px;
            color: #ffffff;
        }
        
        h2,h3 {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }

        .sorting-title {
            font-size: 15.5px;
            color: rgb(90, 27, 82);
        }

        .yes {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.row2 {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 33.33%;
  padding: 5px;
}
  
  
  
  

/*not using rn*/

    /*.carpic {
        max-width: 20%;
        margin-left: 72%;
        position: absolute;
        z-index: 10;
        margin-top: 137px;
    }*/
    
    
    
    /*.output {
        font-size: 29px;
        color: #382742;
        text-align: center;
        margin-bottom: 24px;
        position: absolute;
        z-index: 10;
        margin-top: -358px;
        margin-left: 611px;
    }*/

  